xml/spa.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="spa">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="services">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="entree" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element type="xs:string" name="item" minOccurs="0"/>
                    <xs:element type="xs:float" name="price" minOccurs="0"/>
                    <xs:element type="xs:string" name="img" minOccurs="0"/>
                    <xs:element type="xs:string" name="specialOffer" minOccurs="0"/>
                    <xs:element type="xs:string" name="description" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>